<div class="row">
  <div id="loginForm" class="col-md-6">
    <h2>Login</h2>

    <form class="form login-form">
      <div class="form-group">
        <label for="name-login">name:</label>
        <input class="form-input" type="text" id="name-login" />
      </div>
      <div class="form-group">
        <label for="password-login">password:</label>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">login</button>
      </div>
    </form>
      <button class="switchToSU" type="button">Sign up instead</button>
  </div>

  <div id="signupForm" class="col-md-6 hide">
    <h2>Sign up</h2>

    <form class="form signup-form">
      <div class="form-group">
        <label for="name-signup">name:</label>
        <input class="form-input" type="text" id="name-signup" />
      </div>
      <div class="form-group">
        <label for="password-signup">password:</label>
        <input class="form-input" type="password" id="password-signup" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Sign Up!</button>
      </div>
    </form>
    <button class="switchToLI" type="button">Login instead</button>
  </div>
</div>

<script src="./js/login.js"></script>
